<%- include('../includes/head') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Sign In</h1>

<% if (locals.errorMessages) { %>
  <% Object.keys(errorMessages).forEach(key => { %>
    <div class="text-error"><%= errorMessages[key] %></div>
  <% }) %> 
<% } %>

<%- include('../includes/flash-messages.ejs') %>
<form action="/auth/signin" method="post">
  <input
    class="<%= locals.errorMessages && locals.errorMessages.email ? 'invalid-input' : '' %>"
    type="email"
    name="email"
    id="email"
    value="<%= locals.email ? email : '' %>"
    placeholder="Email"
  />
  <input
    class="<%= locals.errorMessages && locals.errorMessages.password ? 'invalid-input' : '' %>"
    type="password"
    name="password"
    id="password"
    value="<%= locals.password ? password : '' %>"
    placeholder="Password"
  />
  <button type="submit">Sign In</button>
</form>
<%- include('../includes/end.ejs') %>