<%- include('../includes/head') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Signup</h1>

<% if (locals.errorMessages) { %>
  <% Object.keys(errorMessages).forEach(key => { %>
    <div class="text-error"><%= errorMessages[key] %></div>
  <% }) %> 
<% } %>

<form action="/auth/signup" method="post">
  <input
    class="<%= locals.errorMessages && locals.errorMessages.name ? 'invalid-input' : '' %>"
    type="text"
    name="name"
    id="name"
    value="<%= locals.name ?  name : '' %>"
    placeholder="Name"
  />
  <input
  class="<%= locals.errorMessages && locals.errorMessages.email ? 'invalid-input' : '' %>"
    type="email"
    name="email"
    id="email"
    value="<%= locals.email ? email : '' %>"
    placeholder="Email"
  />
  <input
  class="<%= locals.errorMessages && locals.errorMessages.password ? 'invalid-input' : '' %>"
    type="password"
    name="password"
    id="password"
    value="<%= locals.password ? password : ''%>"
    placeholder="Password"
  />
  <input
    class="<%= locals.errorMessages && locals.errorMessages.confirmPassword ? 'invalid-input' : '' %>"
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    placeholder="Confirm Password"
  />
  <input type="submit" value="Sign Up">
</form>
<%- include('../includes/end.ejs') %>