<%- include('../includes/head') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Signup</h1>
<form action="/auth/signup" method="post">
  <input
    type="text"
    name="name"
    id="name"
    value="<% if (locals.name) { %><%= name %><% } %>"
    placeholder="Name"
  />
  <input
    type="email"
    name="email"
    id="email"
    value="<% if (locals.email) { %><%= email %><% } %>"
    placeholder="Email"
  />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    placeholder="Confirm Password"
  />
  <input type="submit" value="Sign Up">
</form>
<%- include('../includes/end.ejs') %>