<div class='mx-2 my-3' id="product-form">

  {{> flash-message }}

  <div v-if="this.errors">
    <div v-for="error in errors" class="alert alert-danger" role="alert">
      \{{ error }}
    </div>
  </div>

  <div class="container-fluid">
    <div class="card ">
      <div class="card-header">
        <div class='card-title h-2.5 d-flex align-items-center'>
          <h5 class='ms-2'>
            {{#if edit}}
            Update Product: {{ product.name }}
            {{else}}
            Add New Product
            {{/if}}
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form name="productForm" method='post' @submit="onSubmitForm">
          <div class='row'>
            <div class='col-12'>
              <div class='px-4 py-2'>
                <div class='mb-3'>
                  <label for='name'
                    class='custom-base-text custom-base-text-lilac_blue col-auto col-form-label text-nowrap'
                    style='width: 8.5rem;'>
                    Name
                  </label>
                  <div class='col-12 col-md-8'>
                    <input type='text' name="name" v-model="product.name"
                      class='form-control custom-base-text custom-base-text-lilac_blue {{errorInput errors "name"}}'
                      id='name' style='width: 100%;' />
                    {{errorMessage errors 'name'}}
                  </div>
                </div>

                <div class="mb-3">
                  <label for="defaultSelect" class="form-label">Product Group</label>
                  <select id="defaultSelect" class="form-select" name="group" v-model="product.group">
                    <option :value="group._id" v-for="group in groups">\{{group.name}}</option>
                  </select>
                </div>

                <div class='mb-3'>
                  <label for='description' name="description"
                    class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue'
                    style='width: 8.5rem;'>
                    Description
                  </label>
                  <div class='col-12 col-md-8'>
                    <textarea rows="10" type='text'
                      class='form-control custom-base-text custom-base-text-lilac_blue m-0 {{errorInput errors "description"}}'
                      name="description" id='description' style='width: 100%;'
                      v-model="product.description">{{product.description}}</textarea>
                    {{errorMessage errors 'description'}}
                  </div>
                </div>
              </div>
              <div class="col-12">

                <div id="priceInputs">
                  <div v-for="(price, index) in product.prices" :v-key="price.label" class="my-5 p-2 bg-light row">
                    <div class="col-10">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon11">Price</span>
                        <input type="text" class="form-control" placeholder="Price" aria-label="Price"
                          v-model="price.price" aria-describedby="basic-addon11">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text {{errorInput errors " price"}}" id="basic-addon11">Label</span>
                        <input type="text" class="form-control" placeholder="Label" aria-label="Label"
                          v-model="price.label">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon11">Duration</span>
                        <input type="text" class="form-control" placeholder="Duration" aria-label="Duration"
                          v-model="price.duration" type="number">
                        <span id="basic-default-password2" class="input-group-text cursor-pointer">Days</span>
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="d-flex flex-column">
                        <button type="button" class="btn btn-danger btn-sm mb-1" @click="moveUp(index)">
                          <i class="fa-solid fa-arrow-up-long"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm mb-1" @click="remove(index)">
                          <i class="fa-solid fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm mb-1" @click="moveDown(index)">
                          <i class="fa-solid fa-down-long"></i>
                        </button>
                      </div>
                    </div>



                  </div>
                </div>
                <div class="py-2">
                  <button type="button" id="addNewPrice" class="btn btn-primary" @click="addPrice(0)">Add new
                    price</button>
                </div>
              </div>
            </div>

            <div class='row row-cols-1 g-2 m-0'>
              <div class='px-4 pb-4 text-center'>
                <button type='submit' class='col-auto btn bg-primary text-white'>
                  {{#if edit}}
                  <i class='fas fa-save'></i>
                  <span class='ms-2'>Update Product</span>
                  {{else}}
                  <i class='fas fa-save'></i>
                  <span class='ms-2'>Save Product</span>
                  {{/if}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const _product = {{{ json product }}}
  const _groups = {{{ json groups }}}

  Vue.createApp({
    data() {
      return {
        product: {
          name: '',
          description: '',
          prices: [
            {
              price: 0,
              label: 'One Time',
              duration: 0,
            }
          ],
        },
        groups: _groups,
        errors: null,
        edit: false,
      }
    },
    methods: {
      addPrice(index) {
        this.product.prices.splice(index, 0, {
          price: 0,
          label: 'One Time',
          duration: 0,
        });
      },
      remove(index) {
        this.product.prices.splice(index, 1);
      },
      moveUp(index) {
        if (index > 0) {
          this.product.prices.splice(index - 1, 0, this.product.prices.splice(index, 1)[0]);
        }
      },
      moveDown(index) {
        if (index < this.product.prices.length - 1) {
          this.product.prices.splice(index + 1, 0, this.product.prices.splice(index, 1)[0]);
        }
      },
      async onSubmitForm(e) {
        e.preventDefault();

        this.errors = null;

        const { _id, ...rest } = { ...this.product };

        const res = await fetch(this.edit ? '/admin/products/{{this.product._id}}' : '/admin/products/new', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(rest),
        });

        const data = await res.json();

        if (!res.ok) {
          this.errors = data.errors;
          return;
        }

        window.location.href = '/admin/products';
      }
    },
    async mounted() {
      this.edit = false;
      if (Object.keys(_product).length > 0) {
        this.product = _product;
        this.edit = true;
      }
    }
  }).mount("#product-form")

</script>