<div class='mx-2 my-3' id="product-form">

  {{> flash-message }}

  <div v-if="this.errors">
    <div  v-for="error in errors" class="alert alert-danger" role="alert">
      \{{ error }}
    </div>
  </div>

  <div class="container-fluid">
    <div class="card card-info">
      <div class="card-info__header">
        <div class='card-info__header-name h-2.5 d-flex align-items-center'>
          <span class='ms-2 card-info__header-name'>
            {{#if edit}}
            Update Product: {{ product.name }}
            {{else}}
            Add New Product
            {{/if}}
          </span>
        </div>
      </div>
      <div class="card-info__content">
        <form name="productForm" 
        {{#if edit}} action='/admin/products/edit/{{product._id}}'
         {{else}}
        action='/admin/products/new'
        {{/if}}
        method='post'
        @submit="onSubmitForm">
          <div class='rounded client-details'>
            <div class='mt-2 row row-cols-1 row-cols-xl-2 g-2 m-0'>
              <div class='px-4 py-2'>
                <div class='mb-3 row'>
                  <label for='name'
                    class='custom-base-text custom-base-text-lilac_blue col-auto col-form-label text-nowrap'
                    style='width: 8.5rem;'>
                    Name
                  </label>
                  <div class='col-12 col-md-8'>
                    <input type='text' name="name" v-model="product.name"
                      class='form-control custom-base-text custom-base-text-lilac_blue {{errorInput errors "name"}}'
                      id='name' style='width: 100%;' />
                    {{errorMessage errors 'name'}}
                  </div>
                </div>

                <div class='mb-3 row mr-0 pr-0'>
                  <label for='description' name="description"
                    class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue'
                    style='width: 8.5rem;'>
                    Description
                  </label>
                  <div class='col-12 col-md-8'>
                    <textarea rows="10" type='text'
                      class='form-control custom-base-text custom-base-text-lilac_blue m-0 {{errorInput errors "description"}}'
                      name="description" id='description' style='width: 100%;'
                      v-model="product.description">{{product.description}}</textarea>
                    {{errorMessage errors 'description'}}
                  </div>
                </div>
              </div>
              <div class="px-4">
                <div class="py-2">
                  <button type="button" id="addNewPrice" class="btn btn-primary" @click="addPrice(0)">Add new
                    price</button>
                </div>
                <div id="priceInputs">
                  <div v-for="(price, index) in product.prices" :v-key="price.label">
                    <div class='mb-3 row'>
                      <label for='price' name="price"
                        class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue {{errorInput errors "price"}}'
                        style='width: 8.5rem;'>
                        Price
                      </label>
                      <div class='col-12 col-md-8'>
                        <input type='text' class='form-control custom-base-text custom-base-text-lilac_blue'
                          v-model="price.price" />
                        {{errorMessage errors 'price'}}
                      </div>
                    </div>

                    <div class='mb-3 row'>
                      <label for='label' name="label"
                        class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue'
                        style='width: 8.5rem;'>
                        Price Label
                      </label>
                      <div class='col-12 col-md-8'>
                        <input type='text'
                          class='form-control custom-base-text custom-base-text-lilac_blue {{errorInput errors "label"}}'
                          v-model="price.label" />
                        {{errorMessage errors 'label'}}
                      </div>
                    </div>

                    <div class='mb-3 row'>
                      <label for='duration'
                        class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue'
                        style='width: 8.5rem;'>
                        Price Duration
                      </label>
                      <div class='col-12 col-md-8'>
                        <input type='text'
                          class='form-control custom-base-text custom-base-text-lilac_blue {{errorInput errors "duration"}}'
                          v-model="price.duration" style='width: 100%;' />
                        {{errorMessage errors 'duration'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='row row-cols-1 g-2 m-0'>
              <div class='px-4 pb-4 text-center'>
                <button type='submit' class='col-auto btn btn--bright_navy_blue'>
                  {{#if edit}}
                  <i class='fas fa-save'></i>
                  <span class='ms-2'>Update Product</span>
                  {{else}}
                  <i class='fas fa-save'></i>
                  <span class='ms-2'>Save Product</span>
                  {{/if}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.createApp({
    data() {
      return {
        product: {
          name: '',
          description: '',
          prices: [
            {
              price: 0,
              label: 'One Time',
              duration: 0,
            }
          ],
        },
        errors: null,
        edit: false,
      }
    },
    methods: {
      addPrice(index) {
        this.product.prices.splice(index, 0, {
          price: 0,
          label: 'One Time',
          duration: 0,
        });
      },
      async onSubmitForm(e) {
        e.preventDefault();

        this.errors = null;

        const res = await fetch('/admin/products/new', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.product),
        });

        const data = await res.json();

        if (!res.ok) {
          this.errors = data.errors;
          return;
        }

        window.location.href = '/admin/products';
      }
    }
  }).mount("#product-form")

</script>