<div class='mx-2 my-3'>
    <div class='hstack gap-3'>
        <h3 class='main-content__title inline-block flex-grow-1'>Products</h3>
        {{#if productGroups.length }} <a class='ms-auto btn btn-large btn-primary' href='/admin/products/new'><i
                class='fa-solid fa-plus'></i>
            <span class='ms-2'>Add New Product</span> </a>{{/if}}
        <a class='ms-auto btn btn-large btn-primary' href='/admin/products/groups/new'><i class='fa-solid fa-plus'></i>
            <span class='ms-2'>Add New Group</span> </a>

    </div>

    {{> flash-message }}

    <div>
        {{#if productGroups.length }}
        <form action="get" action="">
            {{!-- Select Group --}}
            <div class='mt-3 row'>
                <label for='rate'
                    class='col-auto col-form-label text-nowrap custom-base-text custom-base-text-lilac_blue'
                    style='width: 8.5rem;'>
                    Product Group
                </label>
                <div class='col-12 col-md-2'>
                    {{!-- Select grup --}}
                    <select class='form-control custom-base-text custom-base-text-lilac_blue' name="group" id="group"
                        style='width: 100%;'>
                        <option value="">ALL</option>
                        {{#each productGroups}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </form>
        <div class='table-responsive'>
            <table class='table search-result-table'>
                <thead>

                    <tr>
                        <th scope='col'>Product</th>
                        <th scope='col'>Group</th>
                        <th scope='col'>Description</th>
                        <th scope="col">Actions</th>
                    </tr>

                </thead>`
                {{#each products}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.group.name}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        <a href="#">
                           <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </a>
                        <form class="d-inline" action="#" method="post">
                            <input type="hidden" name="_method" value="{{this._id}}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <div class='alert alert-info mt-3'>
            <p>Please add a Product Group first</p>
        </div>
        {{/if}}

    </div>
</div>