<div class="container">
    <div class="mt-4">
        {{>flash-message}}
    </div>

    <div class="card mb-4">
        <div class="card-header  border-bottom">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-self-center">
                    <h5>Support Tickets</h5>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/admin/tickets/new" class="btn btn-primary">New</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            {{#if tickets}}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    {{#each tickets}}
                    <tr>
                        <td>
                            <a href="/admin/tickets/{{this._id}}">
                                <div class="d-flex">
                                    <div class="d-flex flex-column">
                                        <a href="/admin/tickets/{{this._id}}"
                                            class="text-body text-truncate"><span
                                                class="fw-semibold">{{subject}}</span></a><small
                                            class="text-muted">opened {{createdAt}} by {{createdBy.email}}</small>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td><span class="badge bg-info">{{status}}</span></td>
                        <td>
                            <div class="d-inline-block"><button class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-menu dropdown-menu-end" style=""><a
                                        href="app-user-view-account.html" class="dropdown-item">View</a><a
                                        href="javascript:;" class="dropdown-item">Close</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="text-center">
                <h3>No tickets found</h3>
            </div>
            {{/if}}
        </div>
    </div>
</div>