<div class='container'>
  <div>
    <div class="mt-4">
      <h3>{{ticket.subject}}</h3>
    </div>
    <div class='card mb-4'>
      <div class='card-header border-bottom'>
        <div class='d-flex justify-content-between'>
          <div class='d-flex justify-content-start align-items-center'>
            <div class='avatar-wrapper'>
              <div class='avatar avatar-sm me-3'><span
                  class='avatar-initial rounded-circle bg-label-danger'
                >{{ticket.createdBy.nameLabel}}</span></div>
            </div>
            <div class='d-flex flex-column'><span
                class='fw-semibold'
              >{{ticket.createdBy.name}}
                <span
                  class='badge rounded-pill bg-label-info'
                >Client</span></span>
              <small class='text-muted'>{{ticket.createdBy.email}}</small>
            </div>
          </div>
          <div class='d-flex flex-column'><span
              class='fw-semibold'
            >{{ticket.createdDate}}</span>
            <small class='text-muted'>{{ticket.createdTime}}</small>
          </div>
        </div>
      </div>
      <div class='card-body pt-3'>
        {{ticket.body}}
      </div>
    </div>

    {{#each ticket.replies}}
      <div class='card my-4'>
        <div class='card-header border-bottom'>
          <div class='d-flex justify-content-between'>
            <div class='d-flex justify-content-start align-items-center'>
              <div class='avatar-wrapper'>
                <div class='avatar avatar-sm me-3'><span
                    class='avatar-initial rounded-circle bg-label-info'
                  >{{this.repliedBy.nameLabel}}</span></div>
              </div>
              <div class='d-flex flex-column'><span
                  class='fw-semibold'
                >{{this.repliedBy.firstName}}
                  <span class='badge rounded-pill bg-label-danger'>Support Staff</span></span>
                <small class='text-muted'>{{this.repliedBy.email}}</small>
              </div>
            </div>
            <div class='d-flex flex-column'><span
                class='fw-semibold'
              >{{this.createdDate}}</span>
              <small class='text-muted'>{{this.createdTime}}</small>
            </div>
          </div>
        </div>
        <div class='card-body pt-3'>
          {{this.body}}
        </div>
      </div>
    {{/each}}

    <div class='card my-4'>
      <div class='card-header border-bottom'>
        <h5 class='card-title'>Reply</h5>
      </div>
      <div class='card-body pt-3'>
        <form
          action='/admin/tickets/{{ticket._id}}/reply'
          method='post'
          class='form-group'
        >
          <textarea
            class='form-control'
            id='body'
            rows='5'
            name='body'
          ></textarea>
          <input
            class='form-control mt-3'
            type='file'
            id='formFileMultiple'
            multiple=''
          />
          <button type='submit' class='btn btn-primary mt-3'>Add Reply</button>
        </form>
      </div>
    </div>
  </div>
</div>