<div class='container'>
  <div>
    <div class="mt-4">
      <h3>{{ticket.subject}}</h3>
    </div>
    <div class='card mb-4'>
      <div class='card-header border-bottom'>
        <div class='d-flex justify-content-between'>
          <div class='d-flex justify-content-start align-items-center'>
            <div class='avatar-wrapper'>
              <div class='avatar avatar-sm me-3'><span class='avatar-initial rounded-circle bg-label-danger'>
                  {{nameAvatar ticket.createdBy.name}}
                </span>
              </div>
            </div>
            <div class='d-flex flex-column'><span class='fw-semibold'>{{ticket.createdBy.name}}
                <span class='badge rounded-pill bg-label-info'>Client</span></span>
              <small class='text-muted'>{{ticket.createdBy.email}}</small>
            </div>
          </div>
          <div class='d-flex flex-column'><span class='fw-semibold'>
              {{onlyDateFromDate ticket.createdAt}}
            </span>
            <small class='text-muted'>
              {{timeFromDate ticket.createdAt}}
            </small>
          </div>
        </div>
      </div>
      <div class='card-body pt-3'>
        {{ticket.body}}
        {{#if ticket.attachedFiles}}
           <span class="mt-3 mb-1 d-block text-dark">attached files:</span>
          {{#each ticket.attachedFiles}}
            <a href="/uploads/{{this}}" class="text-muted d-block" download>
              <i class="fa-solid fa-file"></i>
              {{this}}
            </a>
          {{/each}}
        {{/if}}
      </div>
    </div>

    {{#each ticket.replies}}
    <div class='card my-4'>
      <div class='card-header border-bottom'>
        <div class='d-flex justify-content-between'>
          <div class='d-flex justify-content-start align-items-center'>
            <div class='avatar-wrapper'>
              <div class='avatar avatar-sm me-3'>
                <span class='avatar-initial rounded-circle bg-label-info'>
                  {{nameAvatar repliedBy.name}}
                </span>
              </div>
            </div>
            <div class='d-flex flex-column'>
              <span class='fw-semibold'>
                {{firstName repliedBy.name}}
                <span class='badge rounded-pill bg-label-danger'>Support Staff</span>
              </span>
              <small class='text-muted'>{{repliedBy.email}}</small>
            </div>
          </div>
          <div class='d-flex flex-column'><span class='fw-semibold'>
              {{onlyDateFromDate createdAt}}
            </span>
            <small class='text-muted'>
              {{timeFromDate createdAt}}
            </small>
          </div>
        </div>
      </div>
      <div class='card-body pt-3'>
        {{this.body}}
        {{#if this.attachedFiles}}
          <span class="mt-3 mb-1 d-block text-dark">attached files:</span>
          {{#each attachedFiles}}
            <a href="/uploads/{{this}}" class="text-muted d-block" download>
              <i class="fa-solid fa-file"></i>
              {{this}}
            </a>
          {{/each}}
        {{/if}}
      </div>
    </div>
    {{/each}}

    {{#statusClosed ticket.status}}
    <div class='card my-4'>
      <div class='card-header border-bottom'>
        <h5 class='card-title'>Reply</h5>
      </div>
      <div class='card-body pt-3'>
        <p>This ticket is closed.</p>
      </div>
      {{else}}
      <div class='card my-4'>
        <div class='card-header border-bottom'>
          <h5 class='card-title'>Reply</h5>
        </div>
        <div class='card-body pt-3'>
          <form action='/clientarea/tickets/{{ticket._id}}/reply' method='post' class='form-group'
            enctype='multipart/form-data'>
            <textarea class='form-control' id='body' rows='5' name='body'></textarea>
            <input class='form-control mt-3' type='file' id='formFileMultiple' name='file' multiple='' />
            <button type='submit' class='btn btn-primary mt-3'>Add Reply</button>
          </form>
        </div>
      </div>
      {{/statusClosed}}
    </div>
  </div>