<%- include('./includes/head') %> 
  </head>
  <body>
    <%- include('./includes/navigation') %>
    <h1>Error</h1>
    <h3><%= error.statusCode %> | <%= error.message %></h3>
<%- include('./includes/end') %>