{{! Thhis template is used to display the defaut page for a product category. }}
<div class=''>
  <!-- Content -->
  <div class='container py-5'>
    <!--Grid row-->
    <div class='row align-items-center'>
      <!--Grid column-->
      <div class='col-md-6'>
        <div class='text-center'>
          <h1 class='mb-4'><span class='text-warning'>{{productGroup.name}}</h1>
          <p class='mb-4 pb-2 dark-grey-text'>{{productGroup.description}}</p>
        </div>

        <!--  <button type="button" class="btn btn-outline-grey btn-rounded btn-md">Get started</button> -->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class='col-md-6'>
        <div class='d-flex justify-content-center'>
          <img
            src='{{themeBaseUri}}/images/call-to-action/launching.svg'
            alt=''
            class='img-fluid'
            style='max-width: 50%;'
          />
        </div>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>

<div class=''>
  <!-- Content -->
  <div class='container pb-5'>
    <!--Price List-->
    <div class='row'>
      {{#each products}}
        <div class='col-lg-3 col-md-6'>
          <div class='card mt-3'>
            <div class='card-header d-flex justify-content-between'>
              <h5 class='fw-semibold'>{{name}}</h5>
              <span class='fw-bold'>$10</span>
            </div>
            <div class='card-body'>
              {{description}}
            </div>
            <!-- price select -->
            <div class='card-footer'>
              <div class='form-group mb-3'>
                <label for='exampleFormControlSelect1'>Billing Cycle</label>
                <select class='form-control' id='exampleFormControlSelect1'>
                  {{#each prices}}
                    <option>{{duration}} month - ${{price}}</option>
                  {{/each}}
                </select>
              </div>
              <a
                type='button'
                class='btn btn-primary btn-sm text-white'
                href='/store/products/product-1/configure'
              >Add to cart</a>
            </div>
          </div>
        </div>
      {{/each}}
      {{!-- <div class='col-lg-3 col-md-6'>
        <div class='card mt-3'>
          <div class='card-header d-flex justify-content-between'>
            <h5 class='fw-semibold'>Product 2</h5>
            <span class='fw-bold'>$10</span>
          </div>
          <div class='card-body'>
            <p>Some Awsome features about this product to justify the awfull
              cost.</p>
            <p>Anyway this is what you got.</p>
          </div>
          <!-- price select -->
          <div class='card-footer'>
            <div class='form-group mb-3'>
              <label for='exampleFormControlSelect1'>Billing Cycle</label>
              <select class='form-control' id='exampleFormControlSelect1'>
                <option>1 month - $10</option>
                <option>3 month - $25</option>
                <option>6 month - $50</option>
                <option>12 month - $100</option>
              </select>
            </div>
            <a
              type='button'
              class='btn btn-primary btn-sm text-white'
              href='/store/products/product-1/configure'
            >Add to cart</a>
          </div>
        </div>
      </div>
      <div class='col-lg-3 col-md-6'>
        <div class='card mt-3'>
          <div class='card-header d-flex justify-content-between'>
            <h5 class='fw-semibold'>Product 3</h5>
            <span class='fw-bold'>$10</span>
          </div>
          <div class='card-body'>
            <p>Some Awsome features about this product to justify the awfull
              cost.</p>
            <p>Anyway this is what you got.</p>
          </div>
          <!-- price select -->
          <div class='card-footer'>
            <div class='form-group mb-3'>
              <label for='exampleFormControlSelect1'>Billing Cycle</label>
              <select class='form-control' id='exampleFormControlSelect1'>
                <option>1 month - $10</option>
                <option>3 month - $25</option>
                <option>6 month - $50</option>
                <option>12 month - $100</option>
              </select>
            </div>
            <a
              type='button'
              class='btn btn-primary btn-sm text-white'
              href='/store/products/product-1/configure'
            >Add to cart</a>
          </div>
        </div>
      </div>
      <div class='col-lg-3 col-md-6'>
        <div class='card mt-3'>
          <div class='card-header d-flex justify-content-between'>
            <h5 class='fw-semibold'>Product 4</h5>
            <span class='fw-bold'>$10</span>
          </div>
          <div class='card-body'>
            <p>Some Awsome features about this product to justify the awfull
              cost.</p>
            <p>Anyway this is what you got.</p>
          </div>
          <!-- price select -->
          <div class='card-footer'>
            <div class='form-group mb-3'>
              <label for='exampleFormControlSelect1'>Billing Cycle</label>
              <select class='form-control' id='exampleFormControlSelect1'>
                <option>1 month - $10</option>
                <option>3 month - $25</option>
                <option>6 month - $50</option>
                <option>12 month - $100</option>
              </select>
            </div>
            <a
              type='button'
              class='btn btn-primary btn-sm text-white'
              href='/store/products/product-1/configure'
            >Add to cart</a>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
  <!-- Content -->
</div>