<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  {{#if title }}
  <title>{{title}}</title>
  {{/if}}
  {{!-- <link href='{{ themeBaseUri }}/assets/css/styles.css' rel='stylesheet' /> --}}
  <link href='{{ themeBaseUri }}/assets/css/core.css' rel='stylesheet' />
  <link href='{{ themeBaseUri }}/assets/css/theme-default.css' rel='stylesheet' />
  {{!-- <link rel='stylesheet' href='/assets/css/styles.css' /> --}}

  {{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" /> --}}
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
</head>

<body>
  {{> header}}
  <main>
    {{{body}}}
  </main>

  {{> footer}}
  {{!-- <script src="{{ themeBaseUri }}/js/bootstrap.js"></script>
  <script src="{{ themeBaseUri }}/js/helpers.js"></script> --}}
  <script src="{{ themeBaseUri }}/assets/js/main.js"></script>

</body>

</html>