{{#if action}}
{{#if userinfo}}
<div class='card card--no-border display-center__box display-center__box--drop-shadow'>
  <div class='display-center__content display-center__content--center'>

    {{> flash-message }}

    <div>
      <h3 class='display-center__title'>QDASH</h3>
      <span class='display-center__sub-text'>Hi, {{userinfo.name}}</span>
    </div>
    <form class='display-center__form' action='' method='post'>
      <label class='display-center__form-label'>
        <i class='fas fa-lock display-center__form-icon'></i>
        <input type='text' name='password'
          class='form-control display-center__form-input {{errorInput errors "password"}}'
          placeholder='Enter New password' value="{{userInput.password}}" />
      </label>
      {{errorMessage errors 'password'}}

      <label class='display-center__form-label'>
        <i class='fas fa-lock display-center__form-icon'></i>
        <input type='text' name='repeatPassword'
          class='form-control display-center__form-input {{errorInput errors "repeatPassword"}}'
          placeholder='Confirm Password' value="{{userInput.repeatPassword}}" />
      </label>
      {{errorMessage errors 'repeatPassword'}}

      <button type='submit' class='btn display-center__form-submit-btn'>
        <span class='display-center__form-submit-btn-text'>Set Password</span>
      </button>
    </form>

    <div class='display-center__extra'>
      Back to
      <a href='#' class='display-center__extra-link'>Login</a>
    </div>
  </div>
</div>
{{else}}
<div class='card card--no-border display-center__box display-center__box--drop-shadow'>
  <div class='display-center__content display-center__content--center'>

    {{> flash-message }}

    <div>
      <h3 class='display-center__title'>QDASH</h3>
      <span class='display-center__sub-text'>Invalid Password Reset Link</span>
    </div>
    <a href='/auth/reset-password/'>
      <button type='submit' class='btn display-center__form-submit-btn'>
        <span class='display-center__form-submit-btn-text'>Retry</span>
      </button>
    </a>
    <div class='display-center__extra'>
      Back to
      <a href='#' class='display-center__extra-link'>Login</a>
    </div>
  </div>
</div>
{{/if}}
{{else}}
<div class='card card--no-border display-center__box display-center__box--drop-shadow'>
  <div class='display-center__content display-center__content--center'>

    {{> flash-message }}

    <div>
      <h3 class='display-center__title'>QDASH</h3>
      <span class='display-center__sub-text'>Reset Password</span>
    </div>
    <form class='display-center__form' action='/auth/reset-password' method='post'>
      <label class='display-center__form-label'>
        <i class='fas fa-user display-center__form-icon'></i>
        <input type='text' name='email' class='form-control display-center__form-input  {{errorInput errors "email"}}'
          placeholder='Email Address' value="{{userInput.email}}" />
      </label>
      {{errorMessage errors 'email'}}

      <button type='submit' class='btn display-center__form-submit-btn'>
        <i class='fas fa-redo-alt display-center__form-submit-btn-icon'></i>
        <span class='display-center__form-submit-btn-text'>Send Link</span>
      </button>
    </form>

    <div class='display-center__extra'>
      Back to
      <a href='/auth/signin' class='display-center__extra-link'>Login</a>
    </div>
  </div>
</div>
{{/if}}