<div class='rw mx-auto mt-3'>
  <div class='card py-4 px-3'>
    <h1 class='text-center'>Sign In</h1>
    <hr />
    <form class='row g-3' action='/auth/signin' method='post'>
      <div class='col-12'>
        <label for='email' class='form-label'>Email</label>
        <input
          type='email'
          class='form-control {{errorInput errors "email"}}'
          id='email'
          name='email'
          value='{{email}}'
        />
        {{errorMessage errors 'email'}}
      </div>
      <div class='col-12'>
        <label for='password' class='form-label'>Password</label>
        <input
          type='password'
          class='form-control {{errorInput errors "password"}}'
          id='password'
          name='password'
          value='{{password}}'
        />
        {{errorMessage errors 'password'}}
      </div>
      <div class='col-12'>
        <button type='submit' class='btn btn-primary'>Sign in</button>
      </div>
    </form>
  </div>
</div>