<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Billing CMS Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='/assets/css/styles.css' />
</head>

<body class="flex items-center justify-center h-screen antialiased bg-bluesh">

  <div class="bg-white w-11/12 py-10 sm:py-0 sm:w-125 sm:h-162.5 shadow-md shadow-blue-200 rounded-lg">
    <div class="flex flex-col items-center justify-center h-full m-auto sm:w-full">
      <div class="flex flex-col items-center">
        <h3 class="text-3xl text-blue-500">QDASH</h3>
        <span class="mt-10 text-lg font-bold text-gray-400">Client Login</span>
      </div>

      <form class="mt-2 space-y-2" action="/auth/signin" method="post">
        <label class="relative flex items-center" for="username">
          <div class="absolute mx-2 text-gray-400">
            <i class="fas fa-user"></i>
          </div>
          <input
            class="{{errorInput errors 'email'}} py-2 pl-10 pr-2 text-gray-500 bg-gray-100 border w-full rounded-md sm:w-72 focus:outline-none"
            type="text" placeholder="Username" value="{{email}}" name="email" />
        </label>
        <span class="-mt-1">{{errorMessage errors 'email'}}</span>

        <label class="relative flex items-center" for="password">
          <div class="absolute mx-2 text-gray-400">
            <i class="fas fa-lock"></i>
          </div>
          <input
            class="{{errorInput errors 'password'}} py-2 pl-10 pr-2 text-gray-500 bg-gray-100 border w-full rounded-md sm:w-72 focus:outline-none"
            type="password" placeholder="Password" value="{{password}}" name="password" />
        </label>
        <span class="-mt-1">{{errorMessage errors 'password'}}</span>

        <button class="flex items-center justify-center w-full px-2 py-2 space-x-2 bg-blue-500 rounded-md sm:w-72"
          type="submit">
          <div class="text-white">
            <i class="fas fa-sign-in-alt"></i>
          </div>
          <span class="text-sm font-bold text-white">Login</span>
        </button>

        <div class="flex justify-between">
          <label class="flex items-center space-x-2" for="rememberMe">
            <input class="flex items-center" type="checkbox" name="rememberMe" id="rememberMe" />
            <span class="flex items-center text-sm text-gray-500">Remember Me</span>
          </label>

          <a class="text-sm text-gray-500" href="#">Forgot Password?</a>
        </div>
      </form>

      <div class="mt-10 text-sm">
        <span class="text-gray-400">Don't have an account? <a class="font-medium" href="#">Register</a></span>
      </div>
    </div>
  </div>

</body>